env/
assets/processed/*.json
assets/processed/*.csv
assets/processed/*.parquet
assets/processed/*.log
assets/raw/big_corpus.txt
assets/model/models--CLTL--MedRoBERTa.nl/
.vscode
*.ipynb
.DS_Store
__pycache__
pipeline/train/logs/
artefacts/mlflow/*.pt
